node_modules/
coverage/
.DS_Store
.env
.env.*
!.env.example

.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

*.pptx
fluxo-devops-fase2.png
scripts/preencher_fase2.py
